<!--
  Generated template for the UserIssuesListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Issues List</ion-title>
	   <ion-buttons end>
    <button ion-button icon-only (click)='logOut()'>
      <ion-icon name='log-out'></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab middle right edge>
    <button ion-fab mini (click)='goToCreateIssue()'><ion-icon name="add"></ion-icon></button>
  </ion-fab>


  <ion-list >
    <p *ngIf='emptiness'>Aucune issue créée par cete utilisateur</p>
    <ion-item *ngFor="let issue of issues" id="{{issue.id}}">
      <ion-thumbnail item-start>
        <img src="{{issue.imageUrl}}">
      </ion-thumbnail>
      <p>{{issue.createdAt | date: "yyyy/MM/dd"}} • {{issue.state}}</p>
      <button ion-button clear item-end (click)='goToIssue(issue.id);'>Voir plus</button>
    </ion-item>
  </ion-list>

</ion-content>

