<!--
  Generated template for the IssueListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Issues List</ion-title>
	  
  <!-- Logout button -->
  <ion-buttons end>
    <button ion-button icon-only (click)='logOut()'>
      <ion-icon name='log-out'></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>

    <ion-fab middle right edge>
        <button ion-fab mini (click)='goToCreateIssue()'><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-searchbar
            [(ngModel)]="myInput"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="goToFilters()"
            (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <form (submit)='onSubmit($event)' #searchForm='ngForm'>
        <ion-list>
      
      <!-- IssueType input -->
      <ion-item>
          <ion-select *ngIf='searchIssueRequest' [(ngModel)]="searchIssueRequest.state" #searchIssueInput='ngModel' name="searchIssue" (ionInput)="goToFilters()">
            <ion-option value="new">New</ion-option>
            <ion-option value="inProgress">inProgess</ion-option>
        </ion-select>
      </ion-item>
      
        </ion-list>
        <div padding>
      
          <!-- Submit button -->
          <button type='submit' [disabled]='searchForm.invalid' ion-button block>Add a filter</button>
        </div>
      </form>






    <!--<input [(ngModel)]="searchText" placeholder="search text goes here">-->

    <ion-list >
        <ion-item *ngFor="let issue of issues" id="{{issue.id}}">
            <ion-thumbnail item-start>
                <img src="{{issue.imageUrl}}">
            </ion-thumbnail>
            <h2>{{issue.creator.firstname}}</h2>
            <p>{{issue.createdAt | date: "yyyy/MM/dd"}} • {{issue.state}}</p>
            <button ion-button clear item-end (click)='goToIssue(issue.id);'>Voir plus</button>
        </ion-item>
    </ion-list>
    <button *ngIf="linkFirst" ion-button (click)='getMoreIssues(linkFirst)'>FirstIssues</button>
    <button *ngIf="linkPrev" ion-button (click)='getMoreIssues(linkPrev)'>PrevIssues</button>
    <button *ngIf="linkNext" ion-button (click)='getMoreIssues(linkNext)'>NextIssues</button>
    <button *ngIf="linkLast" ion-button (click)='getMoreIssues(linkLast)'>LastIssues</button>

    <!--
    <ion-grid>

        <ion-row *ngFor='let issue of issues'>
            <ion-col>
                <ion-img src="{{issue.imageUrl}}" class="img_issuesList"></ion-img>
            </ion-col>
            <ion-col>
                <div>
                        <p>
                            Date: {{issue.createdAt | date: "yyyy/MM/dd"}}
                        </p>
                        <p>
                            Posté par: <span id="{{issue.id}}" class="user">{{issue.creator.firstname}}</span>
                        </p>

                    <button ion-button small full (click)='goToIssue(issue.id);'>GoToIssue</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    -->

    <!--
<div>
   <ul>
       <li *ngFor='let issue of issues'>
           <img src="{{issue.imageUrl}}" class="img_issuesList">

               {{issue.id}}<br>
               <b>{{issue.creator.firstname}}</b><br>
               <button ion-button (click)='goToIssue(issue.id);'>GoToIssue</button>

       </li>
   </ul>
</div>

-->
</ion-content>
