page-issue-list {

  .user{
    font-weight: bold;
    text-transform: uppercase;
  }

  .new_state{

    color: green;
  }

  .inProgress_state{
    color: lightgreen;
  }

  .rejected_state{
    color: red;
  }

  .resolved_state{
  }


}


